{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% bootstrap_css %}
        <title>{% block title %}Project M{% endblock %}</title>
    </head>

    <body class="h-full overflow-hidden">
        {% block content %}Project M{% endblock %} {% bootstrap_javascript %}
    </body>
</html>
