{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-50">
  <head>
    <link rel="stylesheet" href="{% static 'theme/styles.css' %}" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <title>{% block title %}Project M{% endblock %}</title>
  </head>

  <body class="h-full">
    <div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
