{% extends "registration/index.html" %}
<!-- divider -->
{% block title %} Login {% endblock %}
<!-- divider -->

{% block content %} {% csrf_token %}
<div class="sm:mx-auto sm:w-full sm:max-w-md">
  <img
    class="mx-auto h-12 w-auto"
    src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
    alt="Workflow"
  />
  <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
    Sign in to your account
  </h2>
  <p class="mt-2 text-center text-sm text-gray-600">
    Or
    <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
      start your 14-day free trial
    </a>
  </p>
</div>

<div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
  <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
    <form class="space-y-6" action="{% url 'login' %}" method="POST">
      {{form}}
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
