{% extends "theme/index.html" %}

{% block title %}Customer List{% endblock %}

{% block content %}
    {% if customer_list %}
        <ul>
            {% for customer in customer_list %}
                <li>
                    <a href="{% url 'customers:detail' customer.id %}">{{ customer.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No customers are available.</p>
    {% endif %}
{% endblock %}
